
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h1>Danh sach ung vien </h1>

<div class="khoi-create">
    <a href="javascript:void(0)" id="btn-tao-moi" class="btn btn-success">Tạo Mới!</a>
    <a href="javascript:void(0)" id="export-excel" class="btn btn-success">Export to Excel</a>
</div>


<table id="datatable" class="table table-bordered table-hover dataTable dtr-inline" style="width: 100%">
    <thead>
        <tr>
            <th>STT</th>
            @*<th>Giới Tính</th>*@
            <th>Tuổi</th>
            <th>Tên ứng viên</th>
            <th>Địa chỉ</th>
            <th>Vị trí ứng tuyển</th>
            <th>Kinh nghiệm</th>
            <th>Email</th>
            <th>SĐT</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="container-create-or-update-modal"></div>
@section scripts{
    <script src="~/js/ungvien.js"></script>
}



