@model CustomUser

<div class="modal-dialog" role="document">
    <form class="modal-content" action="/Users/doUpdate" method="POST">
        <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="" action="" method="">
                <div class="form-group">
                    <input type="text" name="Id" value="@Model.Id" style="display:none" />
                    <label class="form-group" for="FullName">FullName: </label>
                    <input type="text" class="form-control" placeholder ="User FullName" name="FullName" value="@Model.FullName"/>
                </div>
                <div class="form-group">
                    <label class="form-group" for="Age">Age: </label>
                    <input type="number" class="form-control" placeholder="User Age" name="Age" value="@Model.Age" />
                </div>
                <div class="form-group">
                    <label class="form-group" for="FullName">PhoneNumber: </label>
                    <input type="text" class="form-control" placeholder="User PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </form>
</div>