@model IEnumerable<E_PROJECT_MANAGER.Models.LichPhongVan>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var viTriTuyenDung = ViewBag.ViTriTuyenDung as List<ViTriTuyenDung>;
}

<div class="container">
    <div id="calendar"></div>
</div>
<div class="modal" tabindex="-1" role="dialog">

</div>

@section scripts {
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
        <script src="~/js/lichpv.js"></script>
}