@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<section class="page_title cs gradientvertical-background s-py-25">
				<div class="container">
					<div class="row">

						<div class="divider-50"></div>

						<div class="col-md-12 text-center">
							<h1 class="">Contact Us</h1>
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="index-2.html">Home</a>
								</li>

								<li class="breadcrumb-item active">
									Contact Us
								</li>
							</ol>
						</div>

						<div class="divider-50"></div>

					</div>
				</div>
			</section>


			<section class="lss-overlay s-map-light s-py-130 c-gutter-60 container-px-30">
				<div class="container ">
					<div class="row">

						<div class="divider-30 d-none d-xl-block"></div>

						<div class="col-lg-8 offset-lg-2 animate" data-animation="slideDown">

							<form class="black-bg contact-form c-mb-20 c-gutter-20" method="post" action="https://html.modernwebtemplates.com/">

								<div class="row">

									<div class="col-sm-6">
										<div class="ds form-group has-placeholder">
											<label for="name">Full Name
												<span class="required">*</span>
											</label>
											<input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Name">
										</div>
									</div>

									<div class="col-sm-6">
										<div class="ds form-group has-placeholder">
											<label for="email">Email address
												<span class="required">*</span>
											</label>
											<input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Email">
										</div>
									</div>

								</div>

								<div class="row">

									<div class="col-sm-6">
										<div class="ds form-group has-placeholder">
											<label for="phone">Phone
												<span class="required">*</span>
											</label>
											<input type="text" aria-required="true" size="30" value="" name="phone" id="phone" class="form-control" placeholder="Phone">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="ds form-group has-placeholder">
											<label for="subject">Subject
												<span class="required">*</span>
											</label>
											<input type="text" aria-required="true" size="30" value="" name="subject" id="subject" class="form-control" placeholder="Subject">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="ds form-group has-placeholder">
											<label for="message">Message</label>
											<textarea aria-required="true" rows="6" cols="4" name="message" id="message" class="form-control" placeholder="Message"></textarea>
										</div>
									</div>
								</div>
								<div class="row">

									<div class="col-sm-12 text-center mt-10">

										<div class="form-group">
											<button type="submit" id="contact_form_submit" name="contact_submit" class="btn-color">
												Send Now
											</button>
										</div>
									</div>

								</div>

							</form>
						</div>
						<!--.col-* -->

						<div class="divider-30 d-none d-xl-block"></div>
					</div>
				</div>
			</section>

			<section class="ds section_gradient gradient-background py-50">
				<div class="container">
					<div class="row">
						<div class="col-md-4 text-center animate" data-animation="pullUp">
							<div class="info-block">
								<p>
									Call Us 24/7
								</p>
								<h3>
									+123-456-7890
								</h3>
							</div>
						</div>
						<div class="col-md-4 text-center animate" data-animation="pullUp">
							<div class="info-block">
								<p>
									Email Address
								</p>
								<h3>
									<a href="https://html.modernwebtemplates.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d8bda0b9b5a8b4bd98bda0b9b5a8b4bdf6bbb7b5">[email&#160;protected]</a>
								</h3>
							</div>
						</div>
						<div class="col-md-4 text-center animate" data-animation="pullUp">
							<div class="info-block">
								<p>
									Open Hours
								</p>
								<h3>
									Daily 9:00-20:00
								</h3>
							</div>
						</div>
					</div>
				</div>
			</section>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v17.0" nonce="kWcPsYGe"></script>

<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%" data-numposts="5"></div>>
