@model E_PROJECT_MANAGER.Models.NhanVienPhuTrachTuyenDung

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NhanVienPhuTrachTuyenDung</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ViTriTuyenDungId" class="control-label"></label>
                <input asp-for="ViTriTuyenDungId" class="form-control" />
                <span asp-validation-for="ViTriTuyenDungId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhanVienId" class="control-label"></label>
                <input asp-for="NhanVienId" class="form-control" />
                <span asp-validation-for="NhanVienId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiId" class="control-label"></label>
                <input asp-for="LoaiId" class="form-control" />
                <span asp-validation-for="LoaiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThaiId" class="control-label"></label>
                <input asp-for="TrangThaiId" class="form-control" />
                <span asp-validation-for="TrangThaiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDelete" class="control-label"></label>
                <input asp-for="IsDelete" class="form-control" />
                <span asp-validation-for="IsDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayXoa" class="control-label"></label>
                <input asp-for="NgayXoa" class="form-control" />
                <span asp-validation-for="NgayXoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
