@model E_PROJECT_MANAGER.Models.ViTriTuyenDung

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>

<h4>ViTriTuyenDung</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="PhongBanID" class="control-label"></label>
                <input asp-for="PhongBanID" class="form-control" />
                <span asp-validation-for="PhongBanID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="TenViTriTuyenDung" class="control-label">Vị Trí Tuyển Dụng</label>
                <input asp-for="TenViTriTuyenDung" class="form-control" />
                <span asp-validation-for="TenViTriTuyenDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Chi tiết công việc</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request" class="control-label">Hạn nộp</label>
                <input asp-for="Request" class="form-control" />
                <span asp-validation-for="Request" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiId" class="control-label"></label>
                <input asp-for="LoaiId" class="form-control" />
                <span asp-validation-for="LoaiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThaiId" class="control-label">Trạng Thái</label>
                <input asp-for="TrangThaiId" class="form-control" />
                <span asp-validation-for="TrangThaiId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="IsDelete" class="control-label"></label>
                <input asp-for="IsDelete" class="form-control" />
                <span asp-validation-for="IsDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayXoa" class="control-label"></label>
                <input asp-for="NgayXoa" class="form-control" />
                <span asp-validation-for="NgayXoa" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>

